{{ 'section-header.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign main_menu = section.settings.menu
-%}

<header>
  <div class="nav-bar">
    <!-- Logo -->
    <a href="{{ routes.root_url }}">
      <img src="{{ section.settings.nav-image | img_url: 'x30' }}"/>
    </a>


    <!-- Desktop Nav -->
    <div class="desktop-menu">
      {% for top_level_link in main_menu.links %}

        <!-- If link has 2 levels of children -->
        {% if top_level_link.levels == 2 %}
          {% render 'three-level-submenu', parent_title: top_level_link.title, parent_url: top_level_link.url, parent_children: top_level_link.links %}
        
        <!-- If link has 1 level of children -->
        {% elsif top_level_link.levels == 1 %}
          {% render 'two-level-submenu', parent_title: top_level_link.title, parent_url: top_level_link.url, parent_children: top_level_link.links %}
        
        <!-- If link has no children -->
        {% else %} 
          <a class="top-level-link" href="{{ top_level_link.url }}">{{ top_level_link.title }}</a>
        {% endif %}

      {% endfor %}
    </div>


    <!-- Customer Links -->
    <div class="desktop-menu">
      {% render 'icon-magnifying-glass' %}

      {% if shop.customer_accounts_enabled %}
        {% render 'icon-shopping-cart' %}
        {% render 'icon-heart' %}

        {% if customer %}
          <a href="{{ routes.account_url }}" class="top-level-link">Account</a>
          {{ 'Log Out' | customer_logout_link | replace: '<a', '<a class="top-level-link"' }}
        {% else %}
          {{ 'Register' | customer_register_link | replace: '<a', '<a class="top-level-link"' }}
          {{ 'Log In' | customer_login_link | replace: '<a', '<a class="top-level-link"' }}
        {% endif %}
      {% endif %}
    </div>

    {% render 'mobile-menu' %}
  </div>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "nav-image",
        "label": "Navigation Image"
      },
      {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "Navigation Menu"
      }
    ]
  }
{% endschema %}
